<div>
    <ul>
        <li>politique</li>
        <li>|</li>
        <li>mentions</li>
        <li>|</li>
        <li>CGV</li>
        <li>|</li>
        <li>contact</li>
    </ul>
</div>
<div>
    <p>@ 2024-2024 MyStory by CreaRv | Tous droits réservés</p>
</div>