<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/public/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/layout.css" />

        <title>test</title>
    </head>
    <body>
                
        <section class="container">
            test2
            
        </section>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="public/form.js"></script>
    </body>
</html>